.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
mock_server/**
views-doc/**
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
.prettierignore
.prettierrc.json
yarn.lock